@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Roboto';
    text-align: center;
    font-size: 3.25rem;
    background-image: linear-gradient(60deg, #96deda 0%, #50c9c3 100%);
    color: white;

    display: grid;
    place-items: center;
    min-height: 100vh;
    min-width: 100vw;
    overflow: hidden;

    padding: 0px;
    margin: 0px;

    position: relative; 
    width: 100%;
} 

#container {
    transform: scale(1.2);
}

#buttons-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 8px;
}

button {
    cursor: pointer;

    background-color: white;
    border-color: white;
    border-radius: 10px;
    padding: 5px 10px;
    
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
    background-color: rgb(228, 226, 226);
    border-color: rgb(228, 226, 226);

    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

#github-link {
    height: 75px;
    width: auto;
    
    margin: 10px;
    
    display: flex;
    align-items: center;

    position: absolute;
    bottom: 0;
    left: 0;

    border-radius: 10px;

    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#github-link:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

#github-link img {
    height: 75px;
    width: auto;
}