@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    --scrollbar-color: auto;
    --body-bg: #fafafa;
    --element-bg: #ffffff;
    --button-bg: #1e1e1e;
    --font-colour: #000000;
    --button-font-color: #ffffff;
    --img-filter: none;

    &[data-theme="dark"] {
        --scrollbar-color: #888888 #121212;
        --body-bg: #121212;
        --element-bg: #1e1e1e;
        --button-bg: #ffffff;
        --font-colour: #ffffff;
        --button-font-color: #000000;
        --img-filter: invert();
    }
}

html {
    scrollbar-color: var(--scrollbar-color);
}

body {
    font-family: "Roboto";
    margin: 0;
    padding: 0;
    min-height: 100dvh;

    background-color: var(--body-bg);    
    color: var(--font-colour);

    overflow-x: hidden;
    text-align: center;
}

button {
    cursor: pointer;

    transition: transform 0.1s ease;

    &:active {
        transform: scale(0.93);
    }
}

#container {
    height: 90dvh;
    width: 100dvw;

    font-size: 3.25rem;

    @media (max-width: 600px) {
        font-size: 1.55rem;
    }

    display: flex;
    flex-direction: column;
    align-items: center;
}